.search-form {
   display: grid;
   grid-template-columns: 3.25fr 3.25fr 1.5fr 1.5fr 1.5fr;
   grid-gap: 15px;
   padding-top: 10px;
}

.search-form__field {
   position: relative;
}

.search-form__label {
   display: block;
   width: 100%;
}

.search-form__label--station {
   position: relative;

   &::before {
      content: "";
      position: absolute;
      bottom: 11px;
      width: 40px;
      height: 20px;
      background-color: transparent;
      border-right: 1px solid #D1DDE8;
      background-image: url('/assets/img/station-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
   }
}

.search-form__label--chrome {
   position: relative;

   &::before {
      content: "";
      position: absolute;
      right: 40px;
      bottom: 11px;
      height: 20px;
      width: 1px;
      background-color: #D1DDE8;
   }
}

.search-form__label--count {
   position: relative;

   &::before {
      content: "";
      position: absolute;
      bottom: 11px;
      width: 40px;
      height: 20px;
      background-color: transparent;
      border-right: 1px solid #D1DDE8;
      background-image: url('/assets/img/users.svg');
      background-position: center;
      background-repeat: no-repeat;
   }
}

.search-form__input--station {
   padding-left: 45px;
}

.search-form__submit {
   font-weight: 600;
   font-size: 14px;
   line-height: 20px;
}

.search-form__dropdown {
   position: absolute;
   top: 70px;
   left: 0;
   right: 0;
   list-style-type: none;
   padding: 0;
   border-radius: 5px;
   background-color: #FFFFFF;
   z-index: 2;
   max-height: 229px;
   overflow: auto;
   scrollbar-color: #D1DDE8 #ffffff;
   scrollbar-width: thin;
   box-shadow: 0 0 15px rgba(#D1DDE8, 0.6);

   li {
      padding: 7px 14px;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;

      &:hover {
         background-color: #F6F7FB;
      }

      &:not(:last-child) {
         margin-bottom: 5px;
      }
   }

   &::-webkit-scrollbar {
      width: 10px;
   }

   &::-webkit-scrollbar-track {
      background-color: #FFFFFF;
      border-radius: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #D1DDE8;
      border-radius: 5px;
   }
}

.popular-stations {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding-top: 15px;
}

.popular-stations__item {
   margin-right: 20px;
   font-size: 14px;
   line-height: 14px;
   color: #187CEE;
   cursor: pointer;
}

.trains {
   display: grid;
   grid-template-columns: calc(100% - 320px) 300px;
   grid-gap: 20px;
}

.filter__section {
   padding-top: 10px;
}

.filter__heading {
   font-weight: 700;
   font-size: 14px;
   line-height: 32px;
}

.options__item {
   margin-bottom: 12px;
}

.options__label {
   display: flex;
   align-items: center;

   .custom-checkbox-rect {
      margin-right: 10px;
   }
}

.options__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
}

.options__badge {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 32px;
   height: 20px;
   padding-left: 5px;
   padding-right: 5px;
   margin-left: auto;
   background: #187CEE;
   border-radius: 3px;
   font-weight: 600;
   font-size: 12px;
   color: #FFFFFF;
}

.list__heading {
   padding-bottom: 5px;
   border-bottom: 1px solid #DDE0ED;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: #8090A0;
}

.train:not(:last-child) {
   margin-bottom: 20px;
   border-bottom: 2px solid #DDE0ED;
}

.train__header {
   display: flex;
   align-items: flex-start;
   padding-top: 10px;
}

.train__info {
   width: 20%;
   margin-right: 30px;
   flex-shrink: 0;

   strong {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
   }

   span {
      display: block;
      white-space: nowrap;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #9EA7B8;
      text-transform: uppercase;
   }
}

.train__stations {
   display: flex;
   align-items: center;
   margin-right: 40px;
}

.train__time-in-way {
   flex-shrink: 0;

   strong {
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
   }

   span {
      display: block;
      white-space: nowrap;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #9EA7B8;
   }
}

.station__date {
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   color: #9EA7B8;
}

.station__time {
   margin-right: 5px;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
}

.station__name {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #9EA7B8;
}

.station__arrow {
   margin-left: 30px;
   margin-right: 30px;
}

.train__car-types {
   display: flex;
   flex-wrap: wrap;
   padding-top: 15px;
}

.car-type {
   margin-right: 10px;
   margin-bottom: 10px;
   padding: 10px;
   background-color: #EEF0F5;
   border-radius: 5px;
   white-space: nowrap;
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   cursor: pointer;

   strong {
      font-weight: 700;
   }

   &:hover, &.active {
      background-color: #187CEE;
      color: #fff;
   }
}

.no-place {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   background-color: #EEF0F5;
   border-radius: 5px;
   font-weight: 700;
   font-size: 14px;
   line-height: 14px;
   text-align: center;
}

.train__cars {
   display: flex;
   overflow: auto;
   padding-bottom: 10px;
   scrollbar-color: #D1DDE8 #ffffff;
   scrollbar-width: thin;

   &::-webkit-scrollbar {
      height: 5px;
   }

   &::-webkit-scrollbar-track {
      background-color: #FFFFFF;
      border-radius: 5px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #D1DDE8;
      border-radius: 5px;
   }
}

.car {
   margin-right: 10px;
   padding: 15px;
   background-color: #EEF0F5;
   border-radius: 5px;
   cursor: pointer;

   &:hover, &.active {
      background-color: #187CEE;
      color: #FFFFFF;

      .mini {
         color: #FFFFFF;
      }

      .car__conditioner svg {
         fill: #fff;
      }
   }
}

.car__header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .bold {
      margin-right: 5px;
   }

   .mini {
      margin-right: 30px;
   }
}

.car__conditioner {
   margin-left: 5px;
   transform: translateY(-2px);
}

.car__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 10px;
}

.car__place {
   margin-right: 30px;
}

.car__place, .car__price {
   display: flex;
   align-items: flex-end;
}


.bold {
   margin-right: 5px;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
}

.mini {
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   color: #9EA7B8;
}
